*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* margin: 20px; */
    position: relative;
}
header{
    text-align: center;
    background-color: rgb(127, 189, 189);
    padding: 20px;
    
}
#textbox{
    width:50vw;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin: 0px 15px;
}
#btn{
    width:10vw;
    height: 40px;
    margin: 10px 10px;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.3s;
    cursor:pointer;
}
#btn:hover{
    background-color: #9efaa1dc;
}
ul li{
    padding: 10px 298px;
    background-color: rgba(238, 238, 238, 0.5);;
    list-style-type: none;
    font-size: 25px;
    position: relative;
}
ul li:nth-child(odd){
    background-color: rgb(249, 249, 249);;
}
ul li:hover{
    background-color: #449e4927;
}
ul span{
    float: right;
}
span a{
    color: black;
}
span a:hover{
    color: rgb(243, 124, 124);
}
span:hover{
    text-decoration: underline;
}
