{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>

    <link href="{% static 'todolist/style.css' %}" rel="stylesheet" type="text/css">
    
</head>
<body>
    <header>
        <h1>ToDo List</h1><br>
        <form method="POST">
            {% csrf_token %}
            <input class="formblock" id="textbox" type="text" name="task" placeholder="Add a new task...">
            <button class="formblock" id="btn" type="submit">Add</button>
        </form>
    </header> 
    <ul>
        {% for todo in todos reversed %}
            <li id="listitem">{{todo.task | title}}
            <span><a style="text-decoration: none;" href="delete/{{todo.id}}">Delete</a></span>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
